/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}
header h1 {
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
}
header .logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Segoe UI, sans-serif;
}

header .header-icons img {
    width: 25px;
    margin-left: 25px;
}

.payment-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.payment-container p {
    color: #888;
    margin-bottom: 20px;
}

.payment-methods {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.method {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.method img {
    margin-right: 10px;
}

.method.active {
    border-color: #007bff;
    background-color: #e7f1ff;
}

.payment-details h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.credit-card-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.credit-card-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.date-fields {
    display: flex;
    justify-content: space-between;
}

.date-fields div {
    width: 48%;
}

.security-note {
    color: #888;
    font-size: 12px;
    margin-top: 10px;
}
