/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}
header h1 {
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
}
header .logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: Segoe UI, sans-serif;
}

header .header-icons img {
    width: 25px;
    margin-left: 25px;
}

.order-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-table th, .order-table td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.order-table th {
    background-color: #f0f0f0;
}

.order-table td {
    vertical-align: top;
}

.product-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.order-summary {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.order-summary p {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.order-summary p span {
    font-weight: bold;
}

.order-total {
    font-size: 18px;
    font-weight: bold;
}

.place-order-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.place-order-btn:hover {
    background-color: #218838;
}
